.background {
  display: grid;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.app-container {
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
  display: grid;
  grid-template-rows: 20px auto;

  border: 1px solid;
  border-color: inherit;
  justify-items: center;
}

.pattern-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border-color: inherit;
}
